<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvM3Ehw_xZ7Mro1OrmX7OHdEt-RmAgSA4</string>
	<key>GCM_SENDER_ID</key>
	<string>925791623558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.1a06e366a2d91fdb.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-a4478</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-a4478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925791623558:ios:d9fce7e4fecf9a126d7407</string>
</dict>
</plist>